<% if leader_signed_in? %>
  <li class="nav-item">
    <%= link_to "Dashboard", leaders_dashboard_index_path, class: "nav-link" %>
  </li>
  <li class="nav-item">
    <%= link_to "Profile", leaders_profile_path, class: "nav-link" %>
  </li>
  <li class="nav-item">
    <%= link_to "Residences", leaders_residences_index_path, class: "nav-link" %>
  </li>
  <li class="nav-item">
    <%= link_to "Logout", logout_path, method: :delete, class: "nav-link" %>
  </li>
<% else %>
  <li class="nav-item">
    <%= link_to "Login", new_leader_session_path, class: "nav-link" %>
  </li>
  <li class="nav-item">
    <%= link_to "Sign Up", new_leader_registration_path, class: "nav-link" %>
  </li>
<% end %>
